*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
.head{
    background-color: #233e8b;
    height: 660px;
}
.navbar-brand{
    color: white !important;
    font-size: 30px;
    font-weight: bold;
}
.head ul li a{
    color: white !important;
    font-size: 20px;
    margin-right: 5px;
}
.head ul li a:hover{
    border-bottom: 2px solid white;
}
.body{
    color: white;
}
.body1 p{
    font-size: 20px;
    line-height: 2;
}


/* start about */
.about h2{
    color: #233e8b;
    font-weight: bold;
}
.about p{
    font-size: 20px;
    line-height: 2;
}
.count h3{
    color: #233e8b;
    font-size: 30px;
    font-weight: bold;
}
.count .count-b{
    border-right: 1px solid #c8c2bc;
}

/* start feature */
.feat{
    background-color: #f3f5f7;
    padding-bottom: 20px;
}
.feat h2{
    padding-top: 20px;
    color: #233e8b;
}
.feat .box{
    gap: 10px;
}
.feat .icon{
    width: 50px;
    height: 50px;
    background-color: #233e8b;
    color: white;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

/* start test */
.test{
    margin-bottom: 40px;
}
.test h2{
    color: #233e8b;
}
/* .test .person{
    width: 500px;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
} */
.test .info p{
    width: 70%;
    margin: auto;
}
.test span{
    background-color: black;
}
.test .info h4{
    color: #233e8b;
}
.test .carousel-indicators{
    bottom: -40px;
}
.test .carousel-indicators button{
    border-radius: 100% !important;
    background-color: #233e8b;
}

  
/* start form */
.form{
    margin-top: 20px;
    background-color: #f3f5f7;
}
.form h2{
    margin-top: 10px;
    padding-top: 10px;
    color: #233e8b;
}
.form form{
    padding-bottom: 20px;
}